form {

}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=date] {
    outline: 0;
    padding: 8px;
    box-sizing: border-box;

    border: 1px solid #CCCCCC;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    position: relative;
    background: #fbfbfb none;

    font: normal 14px arial, tahoma, helvetica, sans-serif;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus {
    background: #dbdbdb;
}

/* Slightly darken placeholder to accommodate darker inputs when focused */
::-webkit-input-placeholder { color: #888; /* WebKit browsers */ }
:-moz-placeholder { color: #888; /* Mozilla Firefox 4 to 18 */ }
::-moz-placeholder { color: #888 ;/* Mozilla Firefox 19+ */ }
:-ms-input-placeholder { color: #888; /* Internet Explorer 10+ */ }

