
body#login {
    background: #eee url(../images/restyle/manager-loginscreen-bg.png) center center repeat-x;
    height: 100%;
    width: 100%;
    font-size: 75%;
}

#modx-login-language {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    color: #888;
}

#modx-login-container {
    margin: auto;
    width: 460px;
    height: 375px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#modx-login-logo {
    margin-bottom: 3px;
}
#modx-login-logo img {
    width: 180px;
}
#modx-login-box {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 5px;
}
#modx-login-box-inner {
    background: black url(../images/restyle/manager-loginscreen-form-bg.png) bottom left no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    padding: 20px 20px 22px;
    color: #eee;
}
.loginLicense {
    width: 460px;
    color: #555;
    margin: 0 auto;
    font-size: 90%;
    padding-left: 20px;
}

#modx-login-form-panel {
    border: 1px solid #ddd;
}

#login h2 {
    color: #eee;
}

input[type=text], input[type=password], #modx-forgot-login button {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: #bbb;
}
a:hover {
    text-decoration: underline;
}

label.checkbox {
    color: #bbb;
}


.modx-login-button {
    float: right;
    padding: 8px 18px;
    background: #eee;
    font: bold 13px arial, tahoma, helvetica, sans-serif;
    color: #555;
    border: 2px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    -o-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    background: url(../images/modx-theme/form/button-bg.png) repeat-x scroll 0 bottom #DCDCDC;
    background:-moz-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#dcdcdc));
    background:-webkit-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    background:-o-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    background:-ms-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
    background:linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
}

