body, html {
    background-color: #fafafa;
}

body {
    color: #111;
    font: 13px/17px Arial, Helvetica, sans-serif;
}

.wait{
	background: url("../images/style/wait.gif") no-repeat scroll center 55px transparent;
    color: #53595F;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 10px 60px;
}


/** Nav bar */
#modx-top {
    background: #373737 url("../images/restyle/headers.jpg") repeat-x;
}
#modx-top-menu {
    border-bottom: 1px solid #1E1E1E;
    border-top: 1px solid #1E1E1E;
    background: -moz-linear-gradient(
        #777 10%,
        #666 50%,
        #555 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.32,#555),
        color-stop(0.69,#666),
        color-stop(0,#555)
    );
}
#modx-top-meta a {
    color: #888;
    text-decoration: none;
    padding-right: 10px;
}
#modx-top-meta a:hover {
    color: #ddd;
}

#modx-top-meta-left {
    color: #bbb;
    line-height: 12px;
}
#modx-top-meta-left span {
    color: #888;
    font-size: 10px;
    line-height: 8px;
    font-style: italic;
}


/**
 * Dashboard styles
 */
.dashboard-block {
    background-color: white;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.dashboard-block h4 {
    color: #535d6c;
    padding-bottom: 2px;
    font-size: 13px;
}
.dashboard-block .body {
    color: #444;
    font-size: 12px;
    max-height: 300px;
}
.dashboard-block .title {
    background:#dddddd;
	background:-moz-linear-gradient(center bottom,#dddddd 0%,#eeeeee 100%) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#dddddd));
	background:-webkit-linear-gradient(center bottom,#dddddd 0%,#eeeeee 100%);
	background:-o-linear-gradient(center bottom,#dddddd 0%,#eeeeee 100%);
	background:-ms-linear-gradient(center bottom,#dddddd 0%,#eeeeee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee,endColorstr=#dddddd,GradientType=0);
	background:linear-gradient(center bottom,#dddddd 0%,#eeeeee 100%);
	border-bottom:1px solid #ccc;
	font-size:12px;
	font-weight:bold;
	color: #5E5E5E;
	padding:10px 10px 8px;
	text-shadow:0 1px 1px #ffffff;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-webkit-border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}


/**
 * News (RSS) articles from the dashboard feeds.
 * Possible consider abstracting these into global styles.
 */
.news_article {
    padding: 10px 0 33px;
    border-bottom: 1px solid #ddd;
}
.news_article h2 {
    font-size: 17px;
}
.news_article .content {
    color: #444;
}
.news_article a {
    color: #535d6c;
    text-decoration: none;
}
.news_article a:hover {
    color: #90b1b9;
}
.news_article .date_stamp {
    float: right;
    font-style: italic;
    color: #535d6c;
    font-size: 11px;
}

h2 {
    color: #5E5E5E;
    font: normal 25px helvetica,arial,freesans,clean,sans-serif;
    letter-spacing: -1px;
    margin: 0 0 8px;
}



